/* COOOOOL !!!! */

body {
  margin: 0;
  padding: 0;
}

#home-map {
  position: absolute;
  width: 100%;
  height: 400px;
}

.marker {
  background: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

mapboxgl-popup-content {
  word-break: normal;
}

#map {
  position: absolute;
  top: 1em;
  width: 90%;
  height: 90%;
}

@media (max-width: 768px) {
  #map {
    width: 100%;
    min-height: 200px;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.geocoder {
  width: 100%;
}
.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 100% !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.marker {
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
