{% extends 'register/base.html' %}
{% block content %}
<form method="POST">
  {%csrf_token %}
  <div class="row form-group justify-content-center">
    <div class="col-12 col-md-4">
      <label for="username"> Username </label>
      <input class="form-control" type="username" name="username" id="username" required>
    </div>
  </div>
  <div class="row form-group justify-content-center">
    <div class="col-12 col-md-4">
      <label for="password"> Password </label>
      <input class="form-control" type="password" name="password" id="password" required/>
    </div>
  </div>
  <div class="row form-group justify-content-center">
    <div class="col-12 col-md-4">
      <input type="submit" class="btn btn-primary btn-block" name="submit" value="Login">
    </div>
  </div>
</form>
{% endblock %}
