{% extends 'register/base.html' %}
{% load static %}
{% block content %}
<form method="POST">
  {% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{user_form.errors}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {% csrf_token %}
  <div class="row text-center">
    <div class="col-12">
      <h2> Please register here</h2>
    </div>
  </div>
  <hr />
  {% for field in user_form %}
    <div class="row form-group justify-content-center">
      <div class="col-12 col-md-4">
        <label for="email"> {{ field.label }} </label>
        {{ field }}
      </div>
    </div>
  {% endfor %}
  <div class="row form-group justify-content-center">
    <div class="col-12 col-md-4">
      <input type="submit" class="btn btn-primary btn-block" name="submit" value="Register">
    </div>
  </div>
</form>
{% endblock %}
