{% extends 'register/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST">
  {% if user_form.errors %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{user_form.errors}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
  
  <div class="registerForm">
    <div class="row text-center">
      <div class="col-12">
        <h2>Reset Password</h2>
        <p>Password must be alteast 8 characters long</p>
      </div>
    </div>
    <hr class="hrLine" />
    {% csrf_token %}
    <div class="row form-group justify-content-center"> 
        <div class="col-12 col-md-4">
          <div class="form-group">
            <strong><label for="username" style="font-size: 1.25rem;">Username<strong style="color:red;">*</strong></label></strong>
            <div> <input type="text" id="kk" name="username" required/></div>
          </div>
          <div class="form-group">
            <strong><label for="password1" style="font-size: 1.25rem;">New Password<strong style="color:red;">*</strong></label></strong>
            <div> <input type="password" id="kk" name="password1" required/></div>
            <div style="margin-top:0.5rem"><strong style="color:red;">*</strong>&nbsp;Password must be atleast 8 characters long</div>
          </div>
          <div class="form-group" style="font-size: 1.25rem;">
          <strong><label for="password2">Confirm Password<strong style="color:red;">*</strong></label></strong>
            <div> <input type="password" id="kk" name="password2"required/></div>
          </div>
        </div>
    </div>
    <div class="row form-group justify-content-center">
      <div class="col-12 col-md-4">
        <input type="submit" class="btn btn-primary btn-block" name="submit" value="Reset Password">
      </div>
    </div>
    <!-- <center>
        <div class="row form-group justify-content-center"> -->
          <!-- <center> -->
          <!-- <div class="col-12 col-md-4"> -->
            <!-- <center> -->
            <!-- <a href="{% url 'register:reset_password_done' %}" class="btn btn-primary btn-block">Reset Password</a> -->
          <!-- </center> -->
          <!-- </div> -->
        <!-- </center> -->
        <!-- </div>
      </center> -->
  </div>
</form>
<script type="text/javascript" src="{% static 'js/update_theme_register.js' %}"></script>
{% endblock %}

