{% extends 'mainapp/index.html' %}
{% block content %}
{% include 'mainapp/script.html' %}
<h1> MAIN PAGE </h1>
<div class="position-relative">
  <div class="border" id="home-map"></div>
</div>

<!-- IGNORE THIS -->
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiamFudXNpaSIsImEiOiJjazl6d2IzdmYxMnJsM21wazB3a2llY2lwIn0.pLRf45aHIwdJ6dypoH0qSA';
  var map = new mapboxgl.Map({
  container: 'home-map', // Container ID
  style: 'mapbox://styles/mapbox/streets-v11', // Map style to use
  center: [80.33111, 26.4725], // Starting position [lng, lat]
  zoom: 10, // Starting zoom level
  });

  map.addControl(new mapboxgl.NavigationControl());

  var geojson = {
    type: 'FeatureCollection',
    features: [
    {% for e in events %}
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [{{ e.lon }}, {{ e.lat }}]
        },
        properties: {
          title: '{{ e.event_name }}',
          description: '{{ e.event_organizer }}'
        }
      },
    {% endfor %}
    ]
  };

  // console.log("JAVASCRIPT LOADED");

  geojson.features.forEach(function(marker){
    var el = document.createElement('div');
    el.className = 'marker';

    new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .setPopup(new mapboxgl.Popup({ offset: 25 })
    .setHTML('<h4>' + marker.properties.title + '</h4><p> by' + marker.properties.description + '</p>'))
    .addTo(map);
  });
</script>

{% endblock content %}
